# Environment
NODE_ENV=docker

# Backend
BACKEND_PORT=3000

# AI
AI_PORT=8000

# Frontend
FRONTEND_PORT=3001

# Mongo
MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_DB=smartbin

# Mongo Express (UI)
MONGO_EXPRESS_USER=
MONGO_EXPRESS_PASSWORD=

# Full Mongo URL
MONGO_URL=mongodb://mongodb:27017/smartbin

# AI URL
AI_URL=http://ai:8000
