# Wifi is only used for testing
# In prod we will use 4G LTE networking
SMARTBIN_WIFI_SSID=
SMARTBIN_WIFI_PASSWORD=

# Public ip address of the backend server
SMARTBIN_BACKEND_URL=http://192.168.1.10:3000

# Default bin depth in cm defined during bin's registration
# Then the backend is the source of truth for the bin depth
SMARTBIN_BIN_DEPTH_CM=100.0

# Sleep duration in seconds (15 minutes)
SMARTBIN_SLEEP_SECONDS=900

# Used only to override auto generated ID
SMARTBIN_BIN_ID=
